rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
		
    match /users/{userId} {
      allow create: if (userId == request.auth.uid) && (request.resource.data.size() == 2) && ('email' in request.resource.data) && ('firstName' in request.resource.data) && (request.resource.data.email == request.auth.token.email)
    
      match /calendars/{calendar} {
        allow create: if (userId == request.auth.uid) && (request.resource.data.size() == 2) && ('name' in request.resource.data) && ('color' in request.resource.data) && (request.resource.data['color'].matches('#[a-fA-F0-9]{6}$'))
        allow list: if (userId == request.auth.uid)  
      }

      match /todolists/{list} {
        allow create: if (userId == request.auth.uid) && (request.resource.data.size() == 2) && ('name' in request.resource.data) && ('color' in request.resource.data) && (request.resource.data['color'].matches('#[a-fA-F0-9]{6}$'))
      }
    }
	}
}